.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.react-datepicker__header {
    border: none !important;
}

.react-datepicker__year-read-view--down-arrow {
    top: 6px;
    border-width: 0.35rem;
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
    display: block !important;
}

.medium-calendar .react-datepicker.big-calendar .react-datepicker__navigation {
    border: 0.6rem solid transparent !important;
}

.medium-calendar .react-datepicker__navigation {
    top: 7px;
}

input.react-datepicker-ignore-onclickoutside {
    outline: none;
}

.react-datepicker .react-datepicker-popper, .react-datepicker .react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker .react-datepicker-popper .react-datepicker__input-container, .react-datepicker .react-datepicker-wrapper .react-datepicker__input-container {
    width: 100%;
}

.react-datepicker .react-datepicker-popper .react-datepicker__input-container > input, .react-datepicker .react-datepicker-wrapper .react-datepicker__input-container > input {
    width: 100%;
    outline: none;
    line-height: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
}

.react-datepicker .react-datepicker__day {
    border-radius: 5px !important;
}

.react-datepicker .react-datepicker__day.react-datepicker__day--today {
    color: white !important;
}

.react-datepicker-popper {
    z-index: 999 !important;
}

.custom-datepicker .react-datepicker-wrapper {
    border: 1px solid #ebebeb !important;
    border-radius: 4px;
    height: 56px;
}

.custom-datepicker .react-datepicker-wrapper input {
    border-style: none;
    padding: 18.5px 14px;
    font-family: 'Roboto', sans-serif;
}

.custom-datepicker .react-datepicker-wrapper .react-datepicker__input-container > input {
    border-style: none;
}

.custom-datepicker label {
    position: absolute;
    z-index: 99;
    margin-top: 18.5px;
    margin-left: 14px;
    pointer-events: none;
}

body .react-datepicker__close-icon {
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
}

body .react-datepicker__close-icon:after {
    background: none;
    padding: 0;
    margin: 0;
    color: #0e76bc;
    width: auto;
    height: auto;
    font-size: 26px;
    line-height: 18px;
}

body .react-datepicker__header {
    background-color: #fff;
    border-color: #ebebeb;
}

body .react-datepicker {
    background: #fff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.87);
    border-color: #ebebeb;
}

body .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
    border-bottom-color: #fff;
}

body .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle:before {
    border-bottom-color: #ebebeb;
}

body .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle {
    border-top-color: #fff;
}

body .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle:before {
    border-top-color: #ebebeb;
}

body .react-datepicker__year-read-view--down-arrow {
    top: 4px;
}

body .react-datepicker__year-read-view {
    margin: 11px 0 2px;
}

body .react-datepicker__day--keyboard-selected {
    background-color: #283891;
}

.page {
    padding: 12px
}